* {
    box-sizing: border-box;
}
.header {
    padding: 13px;
    border-style: dashed;
}


.mainheader{ 
    font-size: 3em;
    font-family: 'Lobster', cursive;
    padding-left: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
}


.main {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    width: 85%;
    padding-left: 15em;
    
}

#me{ 
    margin: 1em;
    float: left;
    margin-left: 10em;
    margin-right: 2em;
}

}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: 'Lobster', cursive;
}
.header {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    background-color: lightgray;
    color: white;
    padding-left: 1em;
}

.menu {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    width: 100%;
    background-color: lightblue;
    font-size: 1.5em;
}


.menu a{
    display:inline-block;
    padding: 10px;
    
}
   

.menu li {
     display: inline;
}





.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.5;
      }


.menu li:hover {
    background-color: #0099cc;
    
}
    
